.body{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}

.game_up{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:500px;
    margin: 20px;

}
 
.red, .blue, .voilet, .yellow{
  border:6px solid black;
  border-radius: 30px;
  height:200px;
  width:200px;
}

.red{
  background-color: red;
}

.blue{
  background-color: rgb(53, 139, 238);
}

.yellow{
  background-color: rgb(243, 153, 17);
}

.voilet{
  background-color: rgb(82, 42, 192);
}
.click{
  background-color: white;
  transition: background-color .1s ease-out ;
}
.ansclick{
  background-color: rgb(0, 0, 0);
  transition: background-color .1s ease-out ;
}
.bodyred{
  background-color: rgb(233, 92, 92);
  transition:  background-color .1s ease-out;
}